<%= form_for [@project, @team] do |f| %>
  <% if @team.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@team.errors.count, "error") %> prohibited this team from being saved:</h2>

      <ul>
      <% @team.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>

  <div class="field">
    <% for member in Member.find(:all) %>
      <div>
        <%= check_box_tag "team[member_ids][]", member.id, @team.members.include?(member) %>
        <%= member.name %>
      </div>
    <% end %>
  </div>

  <div class="button">
    <%= f.submit %>
  </div>

<% end %>


