<% if notice %>
<div class="notice"><%= notice %></div>
<% end %>

<p>
  <b>Name:</b>
  <%= @team.name %>
</p>

<p>
  <b>Project:</b>
  <%= @team.project.name %>
</p>

<p>
  <h4>Members:</h4>
  <ul>
  <% @team.members.each do |mem| %>
  	<li><%= link_to "#{mem.name}", mem  %></li>
  <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_project_team_path(@team.project_id,@team) %> |
<%= link_to 'Back', project_path(@team.project_id) %>
