<!DOCTYPE html>
<html>
<head>
  <title>ProjManagement</title>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
 <%= stylesheet_link_tag   "application" %>
 <%= javascript_include_tag  "application" %>
  <%= csrf_meta_tags %>
</head>
<body>

	<div id="page-wrap">
		<div id="header">
			<div id="top_menu">
				<ul>
					<li class="menu_user"><a href="#">admin@example.com としてログインします。</a></li>
					<li class="menu_settings"><a href="#">設定</a></li>
					<li class="menu_power"><a href="#">ログオフ</a></li>
				</ul>
			</div>
		</div>
		<!-- end of #header -->

		<div id="sidebar">
			<div id="proj_accord">
				<% for project in Project.all %>
					<h3><a href=""><%= project.name%></a></h3>
					<div id="team_accord">

						<% for team in project.teams.order('name ASC') %>
							<h3><%= team.name %></h3>
							<div>
								<ul>
								<% for member in team.members %>
									<li><%= link_to "#{member.name}", member %></li>
								<% end %>
								</ul>
							</div>	
						<% end %>

					</div>
				<% end %>
			</div>
		</div>
		<!-- end of #sidebar -->

		<div id="main">
			<%= yield %>
		</div>
		<!-- end of #main -->

	</div>
	<!--  end of #page-wrap -->
	

</body>
</html>
